.container-fluid{
    background-color: aliceblue;
    border-style: groove;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 5px grey;
}

.btn{
    width: 68px;
    margin-bottom: 10px;
}

.form-control{
    margin-bottom: 20px;
}

#equals{
    width: 140px;
}

#calculatorField{
    text-align: right;
}