a{
    text-decoration: none;
    background-color: lightgray;
    border-style: outset;
    border-color: grey;
    float: left;
}

#menu{
    height: 50px;
    width: 400px;
    border-style: none;
}

iframe{
    width: 100%;
    height: 200px;
}